.charts-container {
  display: flex;
  flex-direction: column;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50vh;
  width: 50%;
  padding: 1rem;
}

.controls-container {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
